NEXT_PUBLIC_SITE_URL=https://ekohair.oguzhansenyigit.com
NEXT_PUBLIC_SITE_NAME=EKOL HAIR PROTEZ
NEXT_PUBLIC_SITE_PHONE=0532 000 00 00
NEXT_PUBLIC_SITE_WHATSAPP=905320000000
NEXT_PUBLIC_SITE_EMAIL=info@ekohair.oguzhansenyigit.com
NEXT_PUBLIC_SITE_ADDRESS=Bahçelievler, İstanbul
DB_HOST=127.0.0.1
DB_NAME=u632602124_ekohair1
DB_USER=u632602124_ekohair
DB_PASS=
